@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}


body {
    background-image: linear-gradient(160deg, #042940, #005C53 75%, #9FC131);
}

main {
    background-color: #0c3855;
    border-radius: 20px;
    box-shadow: 5px 5px 20px #072335a8;
    width: 700px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: greenyellow;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(172, 255, 47, 0.616);
}

h2{
    color: white;
}

p {
    text-align: justify;
    color: white;
}